@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
	
nav{
    width: 100%;
	height: 75px;
    line-height: 100px;
	padding: 0px 50px;
	padding-top: 5px;
	position: fixed;
	background-image: linear-gradient(#fed000,#fed000);
	position: relative;
	z-index: 100;
	
	
	
}

nav ul{
	float: right;
	position: relative;
	z-index: 100;
	
}

nav li{
	display: inline-block;
	padding-top: 0px;
	list-style: none;
	position: relative;
	z-index: 100;
	

}

nav li a{
	font-size: 16px;
	text-transform: uppercase;
	padding: 0px 15px ;
	color: #000000;
	text-decoration: none; 
    font-weight: bold;
	font-family: arial;
	position: relative;
	z-index: 100;
	
}

nav li a:hover{
	color: #ffffff;
	transition: all 0.15s ease 0s;
}

nav li a:active{
	color: #ffff00;
}

nav h4{
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	padding-right: 510px;
}

@keyframes fade {
	0%{
		opacity: 1;
	}
	
	33%{
		opacity: 0;
	}
	
	67%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
	
}

.container{
	background-color: #D5B60A;
	text-align: center;
	position: relative;	
}

.img{
	position: absolute;
	top: 80px;
	right: 120px;
	animation: fade 6s ease-in-out infinite alternate;
	position: fixed;
	
}

img:nth-of-type(1){
	animation-delay: 0s;
	
}

img:nth-of-type(2){
	animation-delay: 3s;
	
}

img:nth-of-type(3){
	animation-delay: 6s;
	
}

#advert{
	height: 480px;
	background-color: #D5B60A;
}

#footer{
    background-image: linear-gradient(#fed000,#fed000);
	height: 39px;
	padding-top: 10px;
	padding-left: 15px;
	text-decoration: none;
	color: black;
	list-style: none;
	font-weight: bold;
	cursor: pointer;
	

		
}

#footer:hover{
	color: #ffffff;
	transition: all 0.15s ease 0s;
}

#footer:active{
	color: #ffff00;
}

